body {
    background-image: url(../tucker-website/Images/pexels-pixabay-531880.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: auto;
    font-family: "Helvetica Neue";
    padding: 30px;
    
}

h1 {
    font-family: cursive;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    text-decoration: underline;
}

div {
    float: left;
    text-align:center; 
    width: 33%;
    background-color: white;
}

h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
